.my-container {
  /* background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px); */
  background-color: rgba(20, 20, 20, 0.7);
  max-width: 1450px;
border: 2px ridge red;
}

.my-width-100 {
  width: 100px;
}

h1{
  text-shadow: 2px;
  color: red;
}


label{
  color: red;
}






